<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= disc.name %></title>
</head>
<body>
    <div class="disc-details">
        <h1><%= disc.name %></h1>
        <h3>Speed: <%= disc.speed %></h3>
        <h3>Glide: <%= disc.glide %></h3>
        <h3>Turn: <%= disc.turn %></h3>
        <h3>Fade: <%= disc.fade %></h3>
        <% if (disc.inTheBag) { %>
            <h4>This Disc is in your bag!</h4>
        <% } else { %>
            <h4>This Disc isnt in your bag</h4>
    <% } %>
    </div>
    <div class="disc-actions">
        <form  class="delete-form" action="/disc/<%=disc._id%>?_method=DELETE" method="POST">
            <button class="delete-button" type="submit">Delete</button>
        </form>
        <a class="edit-link" href="/disc/<%= disc._id %>/edit">
            <div class="edit-text">Edit</div>
        </a>
    </div>
    <a class="disc-index-link"href="/disc/">
        <div class="index-link-text">Back to Discs</div>
    </a>
</body>
</html>